<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bikiling clinic</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
<link rel="stylesheet" href="styles/base.css">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/jquery.bxslider.css">
<link rel="stylesheet" href="styles/normalize.css">
<script src="assets/jquery-3.3.1.js"></script>
<script src="assets/jquery.bxslider.js"></script>
<script src="assets/main.js"></script>
</head>
<body>
    
    {% include header.html %}

    {% include navigation.html %}

    {{content}}

    {% include footer.html %}
</body>
</html>