---
layout: default
---


<!-- <div class="social-icons">
    <img src="images/icons/facebook.png" alt="facebook">
    <img src="images/icons/google-plus.png" alt="gmail">
    <img src="images/icons/twitter.png" alt="twitter">
    <img src="images/icons/whatsapp.png" alt="whatsapp">
</div> -->
<!-- slider begins-->

    <div class="bxslider">
        <img src="images/slider/medical.jpg" alt="">
        <img src="images/slider/medical2.png" alt="">
        <img src="images/slider/maedical3.png" alt="">
    </div>


<!-- slider edns -->



{{content}}


